# Database Configurations
DB_DATABASE_NAME=db_database_name
DB_DATABASE_HOST=db_database_host
DB_DATABASE_PORT=1234
DB_DRIVER_NAME=db_driver_name
DB_USER_NAME=db_user_name
DB_USER_PASSWORD=db_user_password
# API Configurations
## Pulselive API
API_ANTHROPIC_KEY=sample_key
API_OPEN_AI_KEY=sample_key
API_PULSELIVE_URL=https://sample.url.com
API_PULSELIVE_NEW_URL=https://sample.url.com
API_THE_ATHLETIC_GRAPHQL_URL=https://sample.url.com
